<div class="nav-docs nav-blog">
  <div class="nav-docs-section">

    {% for category in site.categories %}
      <h3>{{ category[0] }}</h3>
      <ul>
        {% for post in category[1] %}
          <li><a href="{{ post.url }}"
                {% if page.title == post.title %} class="active"{% endif %}>
                  {{ post.title }}
              </a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}

    <h3><a href="/blog/all.html">All posts ...</a></h3>

  </div>
</div>
